body{
  margin: 0px;
  background: linear-gradient(aqua, yellow, red, white, aqua, yellow);
  background-repeat: no-repeat;
  
}
h1{
  text-align: center;
  font-size: 60px;
  color: mediumvioletred;
  text-shadow: 12px 10px 10px white;
}
.h1{
  text-align: center;
  font-size: 70px;
  color: mediumvioletred;
  text-shadow: 12px 10px 10px white;
}
table{
  margin-top: -44px;
  border-spacing: 30px;
  font-size: 37px;
  border: 0px solid black;
  margin-left: 0px;
  width: 100%;
}
table tr td{
  color: mediumvioletred;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  border: 2px solid red;
  background:   lightgoldenrodyellow;
  box-shadow: 9px 3px 24px 0px salmon;
}
td a{
   text-shadow: 3px 5px 2px white;
  color: mediumvioletred;
}
.a{
  border: 2px solid blue;
  margin-bottom: 20px;
  margin-left: 13px;
  width: 97%;
  border-radius: 60px;
  height: 2929px;
  background: linear-gradient(lemonchiffon, lavender, navajowhite );
}
hr{
  height: 8px;
  background: darkgoldenrod
}
video{
  border: 8px solid blue;
  opacity: 90%;
  background: aquamarine;
  background-size: 00px;
  
  width: 624px;
  height: 1110px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 158px;
}
video source{
  width: 134px;
  padding-left: 33px;
  background-size: auto;
}
p{
  font-family: cursive;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  color: blue;
  text-shadow: 7px 8px 7px yellow;
}
h2{
  margin-top: 33px;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  color: crimson;
  text-shadow: 3px 14px 7px white;
}

.footer{
       
       font-size: 50px;
       margin-top: 20px;
       height: 80px;
       background: gainsboro;
       color: black;
       font-family: serif;
       font-weight: bold;
       text-align: center;
  }

